body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #faeefd, #d0ddf0); 
}

nav {
    background-color: #f4f8fc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #0350a3;
    transition: all 0.3s ease;
}

nav a:hover {
    color:  #0350a3; 
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(202, 214, 247);
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Card shadow effect */
}

h1 {
    font-size: 24px;
}

form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea, form button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

ul li a {
    text-decoration: none;
    color: #007bff;
    transition: all 0.3s ease;
}

ul li a:hover {
    color: #0056b3;
    text-decoration: underline;
}

ul li form {
    display: inline;
}

button {
    background-color: #0350a3;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
    transition: transform 0.3s ease;
}
